<h1>Make your form here</h1>
<h2>Pirate</h2>
<form action="/pirates" method="post">
    <p><label for="pirate[name]">Pirate Name</label></p>
    <p><input type="text" name="pirate_name" id="pirate[name]"></p>
    <p><label for="pirate[weight]">Pirate Weight</label></p>
    <p><input type="text" name="pirate_weight" id="pirate[weight]"></p>
    <p><label for="pirate[height]t">Pirate Height</label></p>
    <p><input type="text" name="pirate_height" id="pirate[height]"></p>



<h2>Ship One</h2>

    <p><label for="pirate[ships][][name]">Ship Name</label></p>
    <p><input type="text" name="ship_name_1" id="pirate[ships][][name]"></p>
    <p><label for="pirate[ships][][type]">Ship Type</label></p>
    <p><input type="text" name="ship_type_1" id="pirate[ships][][type]"></p>
    <p><label for="pirate[ships][][booty]">Ship Booty</label></p>
    <p><input type="text" name="ship_booty_1" id="pirate[ships][][booty]"></p>



<h2>Ship Two</h2>

    <p><label for="pirate[ships][][name]">Ship Name</label></p>
    <p><input type="text" name="ship_name_2" id="pirate[ships][][name]"></p>
    <p><label for="pirate[ships][][type]">Ship Type</label></p>
    <p><input type="text" name="ship_type_2" id="pirate[ships][][type]"></p>
    <p><label for="pirate[ships][][booty]">Ship Booty</label></p>
    <p><input type="text" name="ship_booty_2" id="pirate[ships][][booty]"></p>
    <p><input type="submit" value="Submit"></p>
</form>